<connectionStrings>
  <add name="NWDB"
        connectionString="Data Source=(LocalDb)\LocalDBDemo; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
  <add name="CHINOOK"
        connectionString="Data Source=(LocalDb)\LocalDBDemo; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>


</connectionStrings>